.who-i-am-wrapper {
    display: flex;
    margin: clamp(20px, 5vh, 100px) 0;
    width: 100%;
    justify-content: center;
}

.who-i-am {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who-i-am-container {
    position: relative;
    width: clamp(280px, 80vw, 673px);
    height: clamp(280px, 80vw, 673px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(60px, 10vw, 120px);
}

.text-container {
    position: absolute;
    z-index: 2;

    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: clamp(70px, 10vw, 100px);
    font-size: clamp(100px, 20vw, 240px);
}


.backline-img,
.frontline-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backline-img {
    z-index: 1;
}

.frontline-img {
    z-index: 3;
}

.who-i-am-text-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.text-with-caret {
    position: relative;
    display: inline-block;
}

.who-i-am-text {
    max-width: 700px;
    text-align: center;
    font-size: clamp(12px, 3vw, 28px);
    font-weight: 100;
    text-transform: uppercase;
}

.more-text {
    display: none;
    width: clamp(280px, 80vw, 673px);
}

.more-text.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caret.rotate {
    transform: rotate(180deg);
}

.text-with-caret.open .caret {
    position: static;          
    display: block;
    margin: clamp(5px, 2vw, 20px) auto 0;        
    transform: rotate(180deg);
}


.caret {
    cursor: pointer;
    transition: transform 0.3s ease;

    position: absolute;
    left: 88%;
    top: 63%;
    transform: translate(clamp(8px, 2vw, 20px), clamp(-6px, -1vw, -12px));
    width: clamp(40px, 5vw, 60px);
    height: auto;
}